<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome spring boot security page!</h1>
<br>
<h1>Personal data:</h1>

<label>Username:</label>
<p th:text="${user.getUsername()}">value</p>
<label>Name:</label>
<p th:text="${user.getName()}">value</p>
<label>NickName:</label>
<p th:text="${user.getNickname()}">VALUE</p>
<label>Id:</label>
<p th:text="${user.getId()}">VALUE</p>

<br>
<br>
<a href="/logout">Logout</a>

</body>
</html>